<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SampleServiceBinding"/>
      </basicHttpBinding>
    </bindings>


    <!--<bindings>
      <webHttpBinding>
        <binding name="defaultwebHttpBinding"/>
      </webHttpBinding>
    </bindings>-->
    <client>
      <endpoint address="http://localhost:52042/SampleService.svc/"
                binding="basicHttpBinding"
                bindingConfiguration="SampleServiceBinding"
                contract="ServiceReference1.ISampleService"/>
    </client>

  </system.serviceModel>

  <!--<system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>-->
</configuration>